@page
@using System.Security.Claims
@model PotionHouse.Pages.Inventory.Index

@{
    ViewData["Title"] = "Inventory";
}

<h3>@User.FindFirstValue(ClaimTypes.Name)'s Inventory</h3>

<div class="accordion mt-4">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Potions &nbsp; <span class="badge bg-dark rounded-pill">@Model.PotionsWithAmounts.Count</span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body d-flex gap-3">
                @if (Model.PotionsWithAmounts.Count == 0)
                {
                    <div class="lead">There are no Potions in your Inventory</div>
                }
                @foreach (var potion in Model.PotionsWithAmounts)
                {
                    <div class="card" style="max-width: 230px">
                        <img class="card-img-top" src="~/@potion.Details.Image" alt="@potion.Details.Title"/>
                        <div class="card-body">
                            <a asp-page="/potions/index" asp-route-id="@potion.Details.Id">
                                <h5 class="card-title">@potion.Details.Title</h5>
                            </a>
                            <p class="card-text">@potion.Details.Description</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Amount: @potion.Amount</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Ingredients &nbsp; <span class="badge bg-dark rounded-pill">@Model.IngredientsWithAmounts.Count</span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body d-flex gap-3">
                @if (Model.IngredientsWithAmounts.Count == 0)
                {
                    <div class="lead">There are no Ingredients in your Inventory</div>
                }
                @foreach (var ingredient in Model.IngredientsWithAmounts)
                {
                    <div class="card" style="max-width: 230px; border: 2px solid @ingredient.Details.Rarity.BgColorHex">
                        <img class="card-img-top" src="~/@ingredient.Details.Image" alt="@ingredient.Details.Title"/>
                        <div class="card-body">
                            <span class="badge mb-2"
                                  style="background-color: @ingredient.Details.Rarity.BgColorHex; color: @ingredient.Details.Rarity.TextColorHex">
                                @ingredient.Details.Rarity.Title
                            </span>
                            <a asp-page="/ingredients/index" class="text-decoration-none stretched-link" style="color: inherit" asp-route-id="@ingredient.Details.Id">
                                <h5 class="card-title">
                                    @ingredient.Details.Title
                                </h5>
                            </a>
                            <p class="card-text">@ingredient.Details.Description</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Amount: @ingredient.Amount</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>